.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.navbar-nav .nav-link {
  margin-left: 6px;
  margin-right: 6px;
  font-size: 18px;
  font-weight: 700;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.05);          /* powiększenie */
  color: #0d6efd !important;       /* podświetlenie tekstu */
}

#quarto-margin-sidebar {
  position: sticky;
}

/* HERO IMAGE — pełny ekran */
.hero-wrapper {
  position: absolute;   /* NIE fixed — dzięki temu znika po scrollu */
  top: 0px; 
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  z-index: 9999;        /* przykrywa sidebar i navbar */
  margin-bottom: 0px;
}

/* Samo zdjęcie */
.hero-fullscreen {
  top: px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}

/* Treść zaczyna się dopiero pod zdjęciem */
#start {
  margin-top: 80vh;      /* odsunięcie treści w dół */
}

/* Sidebar musi być POD hero image */
.sidebar, .quarto-sidebar {
  z-index: 1 !important;
  position: relative;
}

.hero-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  padding: 20px 50px;
  font-size: 2rem;

  /* nowa czcionka i pogrubienie */
  font-family: 'Poppins', sans-serif; /* przykładowa nowoczesna czcionka */
  font-weight: 800;  /* bardzo pogrubiona */
  
  text-decoration: none;
  color: #ffffff; /* biały tekst */

  background: #6f3fbe;; /* lekko przezroczysty fiolet */
  border: 3px solid #ffffff;
  border-radius: 12px;

  transition: 0.3s ease;
  z-index: 10000; /* ponad hero */

  /* opcjonalnie efekt rozmycia tła */
  backdrop-filter: blur(5px);
}

.hero-button:hover {
  background: rgba(186, 85, 211, 0.8); /* jaśniejszy fiolet na hover */
  border-color: #ffffff;
  transform: translate(-50%, -50%) scale(1.1); /* powiększenie przy hover */
  color: #ffffff; /* pozostaje biały */
}

